*.gif
*.mat
*.png
*.h5
*.pt

/MultiMaskSSDU_kspace_full
/MultiMaskSSDU_kspace_diff_circular_mask
/MultiMaskSSDU_kspace_diff_rectangular_mask

/ResultsCircularNarrowerMask
/ResultsCircularWiderMask
/ResultsRectangularNarrowerMask
/ResultsRectangularWiderMask

/ResultsSmallCircularMask1
/ResultsSmallCircularMask2
/ResultsSmallCircularMask3
/ResultsSmallCircularMask4(sub3slc4tf17)
/ResultsSmallCircularMask5

/ResultsSmallCircularMaskWithoutBackground1
/ResultsSmallCircularMaskWithoutBackground2
/ResultsSmallCircularMaskWithoutBackground3
/ResultsSmallCircularMaskWithoutBackground4(sub3slc4tf17)
/ResultsSmallCircularMaskWithoutBackground5

/ResultsSmallRectangularMask1
/ResultsSmallRectangularMask2
/ResultsSmallRectangularMask3

/ResultsSmallRectangularMaskWithoutBackground1
/ResultsSmallRectangularMaskWithoutBackground2
/ResultsSmallRectangularMaskWithoutBackground3
/ResultsSmallRectangularMaskWithoutBackground4

/Small_MultiMaskSSDU_kspace_full
/Small_MultiMaskSSDU_kspace_diff_rectangular_mask
/Small_MultiMaskSSDU_kspace_diff_circular_mask

/PreTraining
